.App {
  text-align: center;
}

/*@media (max-width:800px) {
  .row .col-sm-2{
    width: 20% !important;
  }
}*/

#dropdown-variants-Primary {
  border: 1px solid blue !important;
}

.App-header {
  min-height: 10vh;
  margin-left: 7%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*.App-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  margin: 0 auto;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
